#### Notebook de inferência

Importando as bibliotecas necessarias:

In [8]:
import pickle
import pandas as pd

Importando o modelo:

In [2]:
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

Leitura do dataset:

In [10]:
df = pd.read_csv('desafio_manutencao_preditiva_teste.csv')
df.head()

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min
0,446,L47625,L,297.5,308.6,1793,26.7,70
1,7076,L54255,L,300.7,310.5,1536,47.4,192
2,1191,L48370,L,297.2,308.4,1460,42.1,41
3,2618,L49797,L,299.4,309.1,1670,35.9,68
4,5067,L52246,L,304.1,313.1,1550,30.9,9

In [11]:
data = df[['air_temperature_k', 'process_temperature_k', 'rotational_speed_rpm', 'torque_nm', 'tool_wear_min']]
troca = {'M': 0, 'L': 1, 'H': 2}
data['type'] = df['type'].map(troca)
data.head()

/tmp/ipykernel_40485/241613529.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['type'] = df['type'].map(troca)

,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,type
0,297.5,308.6,1793,26.7,70,1
1,300.7,310.5,1536,47.4,192,1
2,297.2,308.4,1460,42.1,41,1
3,299.4,309.1,1670,35.9,68,1
4,304.1,313.1,1550,30.9,9,1

Predição:

In [12]:
pred = model.predict(data)

In [19]:
df_pred = pd.DataFrame(pred, columns=['predictedValues'])
df_pred.head()

  predictedValues
0      No Failure
1      No Failure
2      No Failure
3      No Failure
4      No Failure

In [20]:
df_pred.to_csv('predicted.csv')